.navigationbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fcf0ed;
}
#jingshulogo {
    width: 153px;
}
ul {
    font-size: 20px;
    padding: 56px;
}
li {
    list-style-type: none; 
    display: inline;
}
.navbarlists>li>a {
    text-decoration: none;
    font-family: 'Gochi Hand', cursive;
    margin: 25px;
    font-size: 40px;
    color: #a58a80;
    transition: color 0.5s;
}
.navbarlists>li>a:hover {
    color: #de8585;   
}
body {
    background-color: #f9dbd569;
    margin: 0;
}
.intro {
    text-align: center;
    margin-top: 80px;
}
#intro1 {
    font-family: 'Satisfy', cursive;
    font-size: 95px;
    margin-bottom: 0px;
    color: #493934;
}
#intro2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 250px;
    color: #493934;
}
.startintro {
    background-color: white;
    padding-top: 85px;
    text-align: center;
    display: flex;
    justify-content: center;   
}
.about {
    position: relative; 
    width: 100px;
    height: 200px;
}   
#bling {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
#hi {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #de8585;
    position: absolute;
    top: -26px;
    right: 23px;
}
#intro3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    color: #de8585;
    background-color: white;
    margin-top: 0;
    text-align: center;
}