.show-work {
    margin: 0 auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
   
}
.work {
    background-color: white;;
}
.description {
    text-align: center;
    font-size: 40px;
    background-color: #ece7e7;
    font-family: 'Source Sans Pro', sans-serif;
    color: #493934;
}
.description>p {
    margin: 0;
}
.galler-screen-shot {
    width: 100%;
}
footer {
    margin-top: 200px;
}
