@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*{
    margin: 0;  
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
#outerNav{
    height: 79px;
    padding: 47px;
    display: flex;
    justify-content: space-around;
}
#innerNavLeft>h1>a{
    font-family: 'Cairo', sans-serif;
    font-size: 47px;
    color: black;
}
#innerNavRight{
    display: flex;
    align-items: center;
}
#innerNavRight>ul{
    padding: 10px;
    margin: 10px;
}

#innerNavRight>ul>li{
    display: inline;
    padding: 10px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 27px;
}
#innerNavRight>ul>li>a{
    color: black;
}
#bodyBigContainer{
    display: flex;
}
.sidebar {
  width: 200px;;
  height: 70vh;
  background: white;
  font-size: 13px;
  MARGIN: 0 15PX;
  flex-shrink: 0;
}

.nav {
  position: relative;
  text-align: right;
  top: 120px;
  transform: translateY(-31%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgb(0 0 0 / 45%);
  display: block;
  transition: all ease-out 300ms;
  font-size: 15px;
}
.nav ul li.active a {
  color: #000000;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: black;
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #bcbbbf, #3c2533);
}
.gallery{
    margin: 20px;
    border: 1px solid #ccc;
    position: relative;
}
.gallery>a{
    display: flex;
    height: 100%;
}
.gallery:hover{
    border: 1px solid black;
}
#galleryContainer{
    display:flex;
    flex-wrap: wrap;
}
.gallery>a>img{
    width: 270px;
    object-fit: contain;
}
.description{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    min-width: 500px;
    height: 100%;
    background-color: #80808099;
    display: none;
}
.visiable{
    display: flex;
    justify-content: center;
    
}
.modalCloseBtn{
    float: left;
}
#modalImg {
    display:flex;
}
#modalImg>img{
    max-width: 800px;
    max-height: 100%;;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}
.modalCloseBtn{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.modalCloseBtn:hover{
    opacity: 1;
}
.modalCloseBtn:before, .modalCloseBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .modalCloseBtn:before {
    transform: rotate(45deg);
  }
  .modalCloseBtn:after {
    transform: rotate(-45deg);
  }
  button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
  }
  
  .paginate {
    position: relative;
    margin: 10px;
    width: 54px;
    height: 126px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background-color: #808080c9;
  }
  .paginate i {
    position: absolute;
    top: 46%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #fff;
    transition: all 0.15s ease;
  }
  .paginate.left {
    right: 71%;
  }
  .paginate.left i {
    transform-origin: 0% 50%;
    left: 6px;
  }
  .paginate.left i:first-child {
    transform: translate(0, -1px) rotate(40deg);
  }
  .paginate.left i:last-child {
    transform: translate(0, 1px) rotate(-40deg);
  }
  .paginate.left:hover i:first-child {
    transform: translate(0, -1px) rotate(30deg);
  }
  .paginate.left:hover i:last-child {
    transform: translate(0, 1px) rotate(-30deg);
  }
  .paginate.left:active i:first-child {
    transform: translate(1px, -1px) rotate(25deg);
  }
  .paginate.left:active i:last-child {
    transform: translate(1px, 1px) rotate(-25deg);
  }
  .paginate.left[data-state=disabled] i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled] i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled]:hover i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled]:hover i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.right {
    left: 71%;
  }
  .paginate.right i {
    transform-origin: 100% 50%;
    left: -2px;
  }
  .paginate.right i:first-child {
    transform: translate(0, 1px) rotate(40deg);
  }
  .paginate.right i:last-child {
    transform: translate(0, -1px) rotate(-40deg);
  }
  .paginate.right:hover i:first-child {
    transform: translate(0, 1px) rotate(30deg);
  }
  .paginate.right:hover i:last-child {
    transform: translate(0, -1px) rotate(-30deg);
  }
  .paginate.right:active i:first-child {
    transform: translate(1px, 1px) rotate(25deg);
  }
  .paginate.right:active i:last-child {
    transform: translate(1px, -1px) rotate(-25deg);
  }
  .paginate.right[data-state=disabled] i:first-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled] i:last-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled]:hover i:first-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled]:hover i:last-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
  }
  .counter {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 94%;
    margin-top: -15px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: #848484;
  }
  