*{
    margin: 0;  
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
#outerNav{
    height: 79px;
    padding: 47px;
    display: flex;
    justify-content: space-around;
}
#innerNavLeft>h1>a{
    font-family: 'Cairo', sans-serif;
    font-size: 47px;
    color: black;
}
#innerNavRight{
    display: flex;
    align-items: center;
}
#innerNavRight>ul{
    padding: 10px;
    margin: 10px;
}

#innerNavRight>ul>li{
    display: inline;
    padding: 10px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 27px;
}
#innerNavRight>ul>li>a{
    color: black;
}
#bodyBigContainer{
    display: flex;
}
#verticalNav{
    margin: 50px;
    background-color:#b1afaf54;
}
#verticalNav>div>a{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #000000a1;
}
.highLight{
    background-color: #bdbdbd;
}
#verticalNav>div:hover{
    background-color: #bdbdbd;
}
.gallery{
    margin: 20px;
    border: 1px solid #ccc;
    position: relative;
}
.gallery>a{
    display: flex;
    height: 100%;
}
.gallery:hover{
    border: 1px solid black;
}
#galleryContainer{
    display:flex;
    flex-wrap: wrap;
}
.gallery>a>img{
    width: 270px;
    object-fit: contain;
}
.description{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    min-width: 500px;
    height: 100%;
    background-color: #80808099;
    display: none;
}
.visiable{
    display: flex;
    justify-content: center;
    
}
.modalCloseBtn{
    float: left;
}
#modalImg {
    display:flex;
}
#modalImg>img{
    max-width: 800px;
    max-height: 100%;;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}
.modalCloseBtn{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.modalCloseBtn:hover{
    opacity: 1;
}
.modalCloseBtn:before, .modalCloseBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .modalCloseBtn:before {
    transform: rotate(45deg);
  }
  .modalCloseBtn:after {
    transform: rotate(-45deg);
  }